@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    text-decoration-color: white;
    background-color: white;
}

a {
    text-decoration: black;
    color: #ffffff;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

header .container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(drupal--icon.svg) no-repeat center top;
    background-size: contain;
  }
  
  @media screen and (min-width: 768px) {
    header .container:before {
      background-size: inherit;
      background-position: left top;
    }
  }
  
.navbar-absolute {
    font-family: Montserrat;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    background-color: #000;
    z-index: 2000;
}

@media(min-width: 768px) {
    .navbar-absolute {
        position: absolute;
        bottom: auto;
        left: 0;
        right: 0;
        top: 30px;
        background-color: unset;
    }
}

.nav-logo {
    width: 160px;
    margin-right: 60px;
    margin-left: 15px;
}

.navbar {
    /*padding-left: 0;*/
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 6px;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-nav {
    flex-wrap: wrap;
}

@media(min-width: 768px) {
    .nav-logo {
        width: 175px;
        margin-left: auto;
    }
    .navbar {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
    }
}

.navbar li.nav-item>a.nav-link {
    padding: 8px 20px;
    border-bottom: 1px solid #312a2a;
    line-height: 22px;
    font-size: 12px;
    font-style: normal;
    color: #fff;
}

@media(min-width: 768px) {
    .navbar li.nav-item>a.nav-link {
        padding: 0;
        border-bottom: unset;
        line-height: unset;
    }
}

.navbar li {
    border: none;
    transition: border-color 400ms;
    margin-right: 27px;
}

.navbar li:hover {
    border: none;
}

@media(min-width: 768px) {
    .navbar li {
        border-top: 8px solid transparent;
        border-bottom: 3px solid transparent;
    }
    .navbar li:hover {
        border-top: 8px solid transparent;
        border-bottom: 3px solid #f14d34;
    }
}

.collapse {
    border-bottom: solid 1px #fff;
}

@media screen and (min-width: 768px) {
    .collapse {
        order: 1;
        border-bottom: unset;
    }
}

nav .dropdown-menu {
    background-color: inherit;
}

nav .dropdown-menu {
    display: block;
    position: static;
    background-color: inherit;
    padding: 0;
    font-size: 12px;
    border-radius: 0;
    border: none;
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    nav .dropdown-menu {
        display: none;
        position: unset;
        background-color: #f14d34;
        padding: unset;
    }
}

@media screen and (min-width: 768px) {
    nav .dropdown-menu-second {
        min-width: 120px;
    }
}

@media screen and (min-width: 992px) {
    nav .dropdown-menu-second {
        min-width: 10rem;
    }
}

nav .dropdown-item {
    color: #fff;
    transition: all 400ms;
    padding: 8px 20px 8px 35px;
    font-weight: 500;
    border-bottom: 1px solid #312a2a;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    nav .dropdown-item {
        padding: 3px 20px;
        border-bottom: unset;
        line-height: unset;
    }
}

@media screen and (min-width: 768px) {
    .dropdown-menu-second .dropdown-item {
        width: 135px;
        padding-right: initial;
    }
}

@media screen and (min-width: 992px) {
    .dropdown-menu-second .dropdown-item {
        padding-right: 20px;
        width: 100%;
    }
}

nav .dropdown-item:hover,
nav .dropdown-item:focus {
    color: #f14d34;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    nav .dropdown-item:hover,
    nav .dropdown-item:focus {
        color: #fff;
        background-color: #d13018;
    }
}

nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(136,136,136,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") no-repeat;
}

.navbar-toggler {
    margin-top: 1px;
}

.navbar li.nav-item>a.nav-link:hover,
.navbar li.nav-item>a.nav-link:focus {
    color: #f14d34;
    background-color: inherit;
}

@media screen and (min-width: 768px) {
    .navbar li.nav-item>a.nav-link:hover,
    .navbar li.nav-item>a.nav-link:focus {
        color: #fff;
    }
}

.navbar-brand {
    margin-right: 0px;
}

.intro {
    max-height: 80vh;
    overflow: hidden;
    position: relative;
}

.Support {
    /* Поддержка сайтов на Drupal */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    /* or 115% */
    align-items: center;
    color: #FFFFFF;
}

#UnderSupport {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#UnderSupport2 {
    padding-top: 50px;
    padding-bottom: 22px;
    margin-left: 0px;
    margin-right: 0px;
}

.Support h1 {
    font-size: 24px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Montserrat;
}

.support h2 {
    font-size: 24px;
    font-family: Montserrat;
}

.Support-small h1 {
    font-size: 14px;
    color: #DA70D6;
    text-align: center;
}

.Support-small {
    /* Сопровождение и поддержка сайтов на CMS Drupal любых версий и запущенности */
    font-size: 18px;
    line-height: 1.6;
    font-family: Montserrat;
    font-style: normal;
    color: #FFFFFF;
    /* White */
    align-items: center;
    margin-bottom: 55px;
    font-weight: 500;
}

.orangeShit {
    width: 220px;
    height: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* icons/1 */
    border: 2px solid #F14D34;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 55px;
}

.orangeShit:hover {
    background-color: #F14D34;
    text-decoration: none;
}

.red-line {
    border-left: 3px solid #f14d34;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 80px;
}

.red-line a {
    color: #f14d34;
    font-weight: 500;
}

.red-line1 {
    height: 100%;
}

.red-line2 {
    margin-bottom: 25px;
}

.red-line-text {
    color: rgba(255, 255, 255, 0.7);
}

#inside-block_first {
    padding-bottom: 10px;
    height: 100%;
}

.block-description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: #6A5ACD;
}

.block-title {
    font-family: Montserrat;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    display: flex
}

.block-with-redlines {
    margin-bottom: 200px;
}

.block-title_first {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    margin-top: -35px;
}

.bloks {
    margin-bottom: 30px;
    color: #FFFFFF;
}

#logo {
    color: white;
    width: 175px;
    height: 25.35px;
}

#inside-container {
    flex-direction: column;
    background-color: #000;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#video-block {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    /*height: 100%;*/
    overflow: hidden;
}

#video-block video {
    min-height: 100%;
    min-width: 100%;
    filter: blur(2px);
}

#video-filter {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.competency-block {
    padding-bottom: 30px;
}

.competency-icon {
    padding: 0;
    display: inline-block;
    margin-bottom: 15px;
    position: relative;
    margin-left: 54px;
  }

@media (min-width: 768px) {
  .competency-icon {
    margin-bottom: 30px;
  }
}

@media (min-width: 1081px) {
  .competency-icon {
    margin-left: 0px;
  }
}

.competency-icon:before {
  content: "";
  display: block;
  position: absolute;
  left: -54px;
  bottom: -4px;
  width: 115px;
  height: 70px;
  background: url(iconspec.svg) no-repeat center;
  background-size: contain;
}

.competency-title {
    text-align: center;
    padding-bottom: 7px;
}

.competencies-main h2 {
    font-family: 'Montserrat';
}

.competencies-main-text {
    font-family: Montserrat;
    padding-bottom: 55px;
}

.competency-description {
    font-family: Montserrat;
    font-size: 14px;
    color: #000;
    width: 200px;
    max-width: 100%;
    margin: auto;
    font-weight: 450;
}

.competencies-main {
    padding: 50px 0px;
}

.support {
    background-color: rgba(248, 248, 248, .0);
}

.support-block {
    background: yellow;
    border-radius: 5px;
    box-shadow: 20px 20px 40px rgba(5, 12, 51, .05);
    margin-left: -12px;
    margin-right: -12px;
    height: 100%;
    position: relative;
    padding: 25px 25px 45px;
    min-height: 292px;
}

.support-col {
    margin-bottom: 5px;
}

.support-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.support h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #050c33;
    font-weight: bold;
    font-size: 24px;
}

.expertize {
    background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.19) -114.85%, rgba(255, 255, 255, 0) 69.04%), #090a13;
    color: #fff;
    margin-top: -200px;
    position: relative;
    z-index: 1;
    padding: 250px 0 0px;
    font-family: Montserrat;
}

.expertize h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.expertize::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(drupal-logo-2.svg) no-repeat right bottom;
    background-size: contain;
}

.expertize-picture {
    padding: 1000px 0px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    max-width: 735px;
}

.expertize .container {
    position: relative;
    z-index: 15;
}

.expertize-picture img {
    width: 100%;
    margin-bottom: -16%;
    margin-top: 16%;
    padding-top: 150px;
}

@media(min-width: 768px) {

    #video-block {
        height: 80%;
    }
    .competencies-main {
        padding: 85px 0px;
    }
    .competencies-main h2 {
        font-size: 42px;
        margin-top: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    #UnderSupport {
        align-items: start;
        padding-top: 40px;
        padding-bottom: 22px;
        margin-left: -30px;
        margin-right: 0px;
        margin-top: 80px;
    }
    .red-line-text {
        line-height: 1.25;
    }
    .bloks {
        margin-top: 50px;
    }

    #inside.container {
        flex-direction: row;
    }
    .Support h1 {
        font-size: 52px;
        text-align: left;
    }
    .Support-small h1 {
        font-size: 18px;
        text-align: left;
    }
    .orangeShit {
        margin-bottom: 80px;
    }

    .expertize h2 {
        font-size: 42px;
    }
    .expertize {
        padding: 380px 0 150px;
    }
}

.supList {
    padding: 0 12px;
    position: relative;
    z-index: 20;
}

.support-title {
    font-size: 18px;
    font-family: Montserrat;
    margin-bottom: 10px;
    font-weight: 600;
}

.support-num {
    font-size: 12px;
    font-family: Montserrat;
    color: #828a9b;
    margin-bottom: 10px;
    font-weight: 600;
}

.support-description {
    font-size: 16px;
    font-family: Montserrat;
    color: #828a9b;
}

.tariffs {
    background: url("D-background.svg")no-repeat right top, #fff;
    background-size: cover;
    padding-bottom: 50px;
}

.tariffs h2 {
    font-size: 24px;
    padding-top: 105px;
    text-align: center;
    color: #000;
    margin-bottom: 40px;
    font-family: Montserrat;
}

@media (min-width: 767px) {
    .tariffs {
        background-size: 60%;
        padding-bottom: 100px;
    }
    .tariffs h2 {
        font-size: 42px;
        padding-top: 160px;
        margin-bottom: 65px
    }
}

.inside-tariff {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 70px 20px 60px;
    background: #fff;
    margin: 0 auto 30px;
    transition: all 500ms;
    transform-origin: center;
    width: 420px;
    max-width: 100%;
}

@media (min-width: 767px) {
    .inside-tariff {
        width: 500px;
    }
}

.tariff-title {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: bold;
    color: #f14d32;
    line-height: 1.3;
    padding-bottom: 29px;
    font-family: Montserrat;
}

.tariffs li {
    margin-bottom: 18px;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: #4e5a73;
    padding-left: 15px;
    font-family: Montserrat;
}

.tariffs ul {
    padding-left: 15px;
    list-style-image: url("gal04ka.svg");
}

.inside-tariff:hover {
    transform: scale(1.1);
    z-index: 15;
    box-shadow: 0 4px 60px rgba(150, 150, 150, .3);
}

.communication-but {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #f14d34;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid #f14d34;
    border-radius: 5px;
    letter-spacing: 0.06em;
    margin: 0 0;
    font-family: Montserrat;
}

.communication-but:hover {
    background-color: #F14D34;
    text-decoration: none;
    color: black;
}

.individ-tariff {
    text-align: center;
    color: #828a9b;
    font-family: Montserrat;
}

.individ-tariff a {
    text-align: cener;
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

.individ-tariff a:hover {
    color: #f14d34;
    text-decoration: none;
}

.after-tariffs {
    padding-top: 50px;
    font-family: Montserrat;
}

.after-tariffs-title {
    margin-bottom: 10px;
}

.after-tariffs h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 700;
}

.competency-header,
.competency-body {
    text-align: center;
}

.time-title {
    margin: 0 auto;
    color: #050c33;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 768px) {
    .after-tariffs {
        padding-top: 100px;
    }
    .after-tariffs h2 {
        font-size: 44px;
    }
    .time-title {
        margin: 0 0;
    }
}

.after-tariffs-competency-block {
    padding-top: 20px;
}

@media (min-width: 767px) {
    .after-tariffs-competency-block {
        margin-bottom: 30px;
    }
}


/* //////////////           brigade          ////////////////////// */

.brigade {
    padding: 50px 30px 0;
    font-family: Montserrat;
}

.brigade h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.person-block {
    padding: 0 15px;
}

.person-pane {
    margin-bottom: 20px;
    font-size: 12px;
}

.person-photo {
    border-radius: 0;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 15px;
}

.person-pane-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #050c33;
    line-height: 1.35;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.person-pane-post {
    padding: 0;
    color: #505570;
    font-weight: 500;
    line-height: 1.37;
    margin-bottom: 5px;
    font-size: 12px;
}

.whole-brigade {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}

.whole-brigade a {
    padding: 10px 30px;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    color: #050c33;
    border: 1px solid #cccdd5;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .brigade h2 {
        font-size: 42px;
        margin: 130px 0 80px 0;
    }
    .person-block {
        padding: 0 50px;
    }
    .person-pane {
        text-align: left;
        margin-bottom: 70px;
    }
    .person-photo {
        margin-bottom: 25px;
    }
    .person-pane-post {
        font-size: 16px;
    }
    .person-pane-post {
        margin-top: 0px;
    }
    .whole-brigade a {
        padding: 24px 75px;
    }
}


/*////////////////////// case//////////////////// */

.cases {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.case-block {
    min-height: 240px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    color: #4e5a73;
    position: relative;
    cursor: pointer;
    margin: auto;
}

@media (min-width: 768px) {
    .case-block {
        min-height: 460px;
        width: 33.3%;
    }
}

.case-block:hover {
    text-decoration: none;
    color: #4e5a73;
}

.case-block h3:hover {
    text-decoration: underline;
}

.case-date {
    opacity: 0.5;
    line-height: 1.5;
    font-size: 12px;
    font-family: Montserrat;
}

@media (min-width: 768px) {
    .case-block:nth-child(2) {
        min-height: 460px;
        width: 66.6%;
    }
}

.case-block h3 {
    font-size: 14px;
}

.case-text {
    margin-top: 20px;
}

.case-image {
    min-height: 175px;
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.case-under-image {
    padding: 15px 15px 15px;
}

@media (min-width: 1200px) {
    .case-image {
        height: 50%;
    }
}

.cases h2,
.review h2,
.faq h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 24px;
}

.case-block h3,
.case-date,
.case-text {
    z-index: 5;
    font-family: 'Montserrat';
}

.cases-title {
    width: 100%;
}

.case-under-image_header h3 {
    font-weight: 700;
}

.secret-href {
    color: #337ab7;
}

.secret-href:hover {
    color: #23527c;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .case-block h3 {
        font-size: 14px;
        margin-top: 40px;
    }
    .case-block {
        font-size: 12px;
    }
    .case-block h3,
    .case-date,
    .case-text {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.full-screen-case {
    position: relative;
    color: #fff;
    padding: 40px;
}

.full-screen-case::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: linear-gradient(360deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 50%);
    z-index: 5;
    border-radius: 5px;
}

.full-screen-case h3 {
    font-family: Montserrat;
    color: #fff;
    margin-top: auto;
    margin-left: -15px;
    margin-right: 0;
    margin-bottom: -10px;
    width: 320px;
    max-width: 100%;
    font-weight: 600;
}

.full-screen-case .case-date {
    margin-left: 0;
    margin-right: 0;
}

.full-screen-case:hover {
    color: #fff;
}

.full-screen-case_date {
    margin-top: 15px;
    margin-left: -15px;
    margin-bottom: -15px;
    z-index: 5;
    opacity: 0.5;
    line-height: 1.5;
    font-size: 12px;
    font-family: Montserrat;
}

.full-screen-case .case-image {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: auto;
    width: auto
}


/*/////////////РЕВЬЮ///////////////////*/

.review-carpet {
    background: url(right-quote-sign.svg) no-repeat;
    background-size: 26%;
    background-position: left top;
}

@media (min-width: 768px) {
    .review-carpet {
        background-position: left top;
    }
}

.review {
    padding-top: 55px;
    margin-bottom: 110px;
}

@media (min-width: 768px) {
    .review {
        padding-top: 90px;
        margin-bottom: 160px;
    }
}

.review h2 {
    font-size: 24px;
    padding-bottom: 12px;
}

@media (min-width: 601px) {
    .review h2 {
        padding-bottom: 35px;
    }
}

@media (min-width: 768px) {
    .review h2 {
        font-size: 42px;
        padding-bottom: 38px;
    }
}

.review-shadow {
    width: 980px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media (min-width: 768px) {
    .review-shadow {
        margin-top: 56px;
    }
}

.review-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
}

.review-shadow::before {
    content: "";
    display: block;
    background: #fff;
    opacity: .5;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
    border-radius: 5px;
    position: absolute;
    top: -15px;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 5;
}

@media (min-width: 601px) {
    .review-shadow::before {
        left: 34px;
        right: 34px;
        top: -25px;
    }
}

@media (min-width: 992px) {
    .review-shadow::before {
        left: 64px;
        right: 64px;
        top: -40px;
    }
}

.review-shadow::after {
    content: "";
    display: block;
    background: #fff;
    opacity: .34;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
    border-radius: 5px;
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 30px;
    right: 30px;
    z-index: 4;
}

@media (min-width: 601px) {
    .review-shadow::after {
        top: -48px;
        left: 68px;
        right: 68px;
    }
}

@media (min-width: 992px) {
    .review-shadow::after {
        left: 128px;
        right: 128px;
        top: -72px;
    }
}

.review-slider {
    width: 100%;
    padding: 20px 15px;
    border-right: none;
    border-bottom: 1px solid #cdcdcd;
}

#review-prev {
    background: url("arrow-left.svg") no-repeat;
}

#review-next {
    background: url("arrow-right.svg") no-repeat;
}

#review-prev,
#review-next {
    width: 17px;
    height: 32px;
    border: none;
}

#review-prev:focus,
#review-next:focus {
    outline: none;
}

.review-display {
    font-size: 28px;
    font-weight: 400;
    margin: 0 46px;
    color: #e0e0e0;
}

#review-number {
    color: #050c33;
}

.review-arrow-block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

@media (min-width: 992px) {
    .review {
        margin-bottom: 160px;
    }
    .review-block {
        flex-direction: inherit;
        padding: 66px 0 66px 68px;
        margin-top: 0px;
    }
    .review-slider {
        width: 70%;
        border-right: 1px solid #cdcdcd;
        border-bottom: none;
        padding: 14px 60px;
    }
    .review-arrow-block {
        width: 30%;
    }
}

.review-slide {
    font-size: 14px;
    line-height: 1.2;
}

.review-slide:focus {
    outline: none;
}

.review-slide img {
    margin-bottom: 40px;
    max-width: 40%;
}

@media (min-width: 768px) {
    .review-slide img {
        margin-bottom: 40px;
        max-width: 30%;
    }
}

@media (min-width: 992px) {
    .review-slide img {
        margin-bottom: 40px;
        max-width: 40%;
    }
}

.review-text {
    font-weight: bold;
    margin-bottom: 28px;
    color: #050c33;
}

.review-author {
    color: #838b9c;
    font-weight: 500;
}

.review-author a {
    font-weight: 400;
    color: #050c33;
    text-decoration: underline;
}

.review-author a:hover {
    font-weight: 400;
    color: #050c33;
    text-decoration: none;
}


/*//////КЛИЕНТЫ////////////*/

.clients h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .clients h2 {
        font-size: 42px;
        margin-bottom: 10px;
    }
}

.clients-header {
    width: 740px;
    max-width: 100%;
    font-size: 16px;
    padding: 0 15px;
    margin: 0 auto 20px;
    color: #505570;
    font-weight: 500;
    line-height: 1.37;
    text-align: center;
}

@media (min-width: 768px) {
    .clients-header {
        margin-bottom: 40px;
    }
}

.clients-slide img {
    margin: auto;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.clients-slide {
    padding: 5px;
}

.clients-slide div {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
}

#slider-2 .clients-slide {
    transform: translateX(50%);
}


/*
ФАКЬЮ
*/

.faq h2 {
    padding-top: 68px;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .faq h2 {
        padding-top: 132px;
        padding-bottom: 80px;
    }
}

.faq-number {
    position: absolute;
    left: -35px;
    width: 25px;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    color: #828a9b;
    margin-top: 4px;
}

.accordion h3 {
    position: relative;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
}

.accordion p {
    font-weight: 500;
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.37;
    margin-top: 10px;
}

.accordion div {
    border: 3px solid transparent;
    padding: 10px 12px 10px 30px;
    transition: border-color .25s;
}

.active h3 {
    color: #f14e3b;
}

.accordion div.active {
    border-color: #f14e3b;
}


/*
 ПОДВАЛЬНЫЙ
*/

.podval-block {
    border-top: 1px solid #e5e5e5;
    padding-top: 35px;
    padding-bottom: 36px;
    margin-top: 52px;
    background-size: cover, 165px, 140px;
}

@media (min-width: 768px) {
    podval-block {
        margin-top: 45px;
    }
}

@media (min-width: 768px) {
    .podval-block {
        background-size: cover, 235px, 230px;
    }
}

@media (min-width: 992px) {
    .podval-block {
        background-size: auto;
    }
}

footer {
    padding: 117px 0 54px;
    color: #fff;
    font-family: Montserrat;
    background: linear-gradient(254.72deg, rgba(255, 255, 255, .276) -114.85%, rgba(255, 255, 255, 0) 69.04%), url(D-flying.svg) no-repeat top center, url(D-footer.svg) no-repeat bottom right, #040613;
}

@media (min-width: 1200px) {
    .podval-block .container {
        padding-left: 0;
    }
}

.application-support-carpet {
    max-width: 100%;
    width: 480px;
    margin: 0 auto 30px;
    text-align: justify;
}

@media (min-width: 601px) {
    .application-support-carpet {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .application-support-carpet {
        text-align: unset;
        margin-right: 100px;
    }
}

.application-support-title {
    margin-bottom: 20px;
    margin-top: initial;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.215;
    text-align: center;
    min-width: 345px;
}

@media (min-width: 601px) {
    .application-support-title {
        font-size: 24px;
        text-align: unset;
    }
}

@media (min-width: 768px) {
    .application-support-title {
        margin-top: initial;
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    .application-support-title {
        font-size: 42px;
        min-width: auto;
    }
}

.application-support-description {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.55;
    color: rgba(256, 256, 256, .7);
}

@media (min-width: 992px) {
    .application-support-description {
        margin-bottom: 140px;
    }
}

.application-support-contacts ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.application-support-contacts ul li {
    margin-bottom: 12px;
}

.application-support-contacts ul li a {
    position: relative;
    padding-left: 40px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.1;
}

@media (min-width: 768px) {
    .application-support-contacts ul li a {
        font-size: 18px;
    }
}

.application-support-contacts .application-support-phone a {
    font-size: 24px;
}

@media (min-width: 768px) {
    .application-support-contacts .application-support-phone a {
        font-size: 32px;
    }
}

.application-support-phone a:before {
    position: absolute;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    left: 3px;
    bottom: 4px;
    background: url(img_phone.svg) no-repeat center;
    background-size: contain;
    opacity: .8;
}

.application-support-contacts .application-support-email a {
    text-decoration: underline;
}

.application-support-email a:before {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    left: 0;
    bottom: 0;
    background: url(img_mail.svg) no-repeat center;
    background-size: contain;
    opacity: .8;
}

#social-info-block-carpet {
    position: static;
    padding: 0;
    margin-top: 71px;
}

#social-info-block-carpet:before {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(256, 256, 256, .3);
}

.social-info-block {
    padding-top: 56px;
}

.social-links {
    margin-bottom: 15px;
}

.social-links-carpet {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-net-icon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    border: 2px solid #f14d34;
    border-radius: 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    background: #f14d34;
    text-align: center;
}

.facebook img {
    position: absolute;
    max-height: 17px;
    margin: 4px -4px;
}

.vk img {
    position: absolute;
    margin: 7px -11px;
    max-height: 12px;
}

.telegram img {
    position: absolute;
    margin: 1px -13px;
    max-height: 25px;
}

.youtube img {
    position: absolute;
    margin: 2px -11px;
    max-height: 22px;
}

.social-info-block-carpet p {
    font-weight: 400;
    margin-bottom: 0;
}

/* 
  Form
*/

#my-fixed-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    z-index: 100;
  }
  
  #moving-overlay {
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  #my-modal {
    background: linear-gradient(254.72deg,rgba(255,255,255,.276) -114.85%,rgba(255,255,255,0) 69.04%) no-repeat bottom right,#040613;
    max-width: 520px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.5;
  }
  
  @media only screen and (min-width: 601px) {
    #my-modal {
      width: 50%;
    }
  }
  
  #my-modal form {
    max-width: 100%;
    width: 480px;
    display: flex;
    flex-direction: column;
    max-height: 900px;
  }
  
  #my-modal input, #my-modal textarea {
    width: 480px;
    max-width: 100%;
    margin-bottom: 7px; 
    background: transparent;
    border: 1px solid rgba(256,256,256,.3);
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 14px;
    padding: 26px 24px;
    color: #fff;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  #my-modal input {
    height: 54px;
  }
  
  #my-modal textarea {
    height: 134px;
  }
  
  #my-modal .g-recaptcha {
    margin-bottom: 10px;
  }
  
  #my-modal input:focus, #my-modal textarea:focus, .cb_place:hover {
    border-color: #f14d34;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #f44336;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  #my-modal input::placeholder, #my-modal textarea::placeholder {
    color: #fff;
    font-size: 14px;
  }
  
  
  #my-modal button {
    background: #f14d34;
    border: 2px solid #f14d34;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    outline: 0;
    box-shadow: none;
    margin: 0;
    display: block;
    width: 100%;
    padding: 20px 14px;
    line-height: 1;
    transition: background 300ms;
  }
  
  #my-modal button:hover {
    background: transparent;
  }
  
  label.c_box input[type='checkbox'] {
      display: none;
  }
  
  label.c_box {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 3px;
      margin-bottom: 10px;
  }
  
  .cb_place {
      content: "";
      min-width: 25px;
      position: relative;
      background: transparent;
      display: inline-block;
      margin-right: .5em;
      min-height: 25px;
      border: 2px solid rgba(256,256,256,.5);
  }
  
  .cb_place:after {
      left: 35%;
      top: 5%;
      width: 30%;
      height: 70%;
      border: solid rgba(256, 256, 256, 0.0);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0.0);
      display: block;
      position: absolute;
      opacity: 0;
      transition: 250ms cubic-bezier(.4, .0, .23, 2);
      content: "";
      cursor: pointer;
  }
  
  span.cb_place:hover::after {
      border: solid rgba(256, 256, 256, 0.5);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(1.0);
      opacity: 1;
  }
  
  label.c_box input[type='checkbox']:checked~span:after {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(1.0);
      opacity: 1;
  }
  
  
  label.c_box div {
    font-size: 12px;
    color: #fff;
    padding-left: 6px;
    max-width: 480px;
    font-weight: 400;
  }
  
  .c_box a {
    color: #f14d34;
  }
  
  
  label.c_box div:after {
    -webkit-background-size: 7px 7px;
    background-size: 7px 7px;
    width: 7px;
    vertical-align: text-top;
    margin-left: 2px;
  }
  
  label.c_box div:after {
    background-image: url(img/required.svg);
    -webkit-background-size: 10px 7px;
    background-size: 7px 7px;
    content: "";
    display: inline-block;
    line-height: 1;
    height: 7px;
    width: 7px;
  }
  